@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family:'Nunito',sans-serif;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url("images/6.jpeg");
    background-size: cover;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 868px;
    max-width: 100%;
    min-height: 650px;
    margin-left: 360px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}


header{
    position:fixed;
    top:0; left:0 ; right :0;
     z-index: 1000;
     background: #1f3b4090;
     display:flex;
     align-items: center;
     justify-content: space-between;
     padding: 0rem 10% ;
}

header .logo{
     font-size: 1.5rem;
     font-weight: bolder;
     color: #fff;
     text-transform: uppercase;
}

header .logo span{
     color:#00f7ff;
     font-size: 1.5rem;
}

header .navbar a{
     color:#fff;
     font-size: 1.2rem;
     margin:0 .6rem ;
     padding-left:0px ;
}

header .logo a:hover{
     color:#00f7ff;
}

header .icons i{
     font-size: 1.5rem;
     color:#fff;
     cursor: pointer;
     margin-right: 2rem;

}

header .icons i:hover{
     color:#93e4e4;
}

header .navbar a:hover{
    color: #93e4e4;
}

header .search-bar{
     position:absolute;
     top:100%;left:0;right:0;
     padding:1.5rem 2rem;
     background: #22364086;
     border-top: .1rem solid rgba(255,255,255,.2);
     display: flex;
     align-items: center;
     z-index: 1000;
     clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

header .search-bar.active{
     clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
}

header .search-bar #search-bar{
    margin-top: 3.5%;
     width:100%;
     padding:0.6rem;
     text-transform: none;
     color:#333;
     font-size: 1.3rem;
     border-radius: .5rem;
}

header .search-bar label{
     color:#fff;
     cursor:pointer;
     font-size: 3rem;
     margin-left: 1.5rem;
}

header .search-bar label:hover{
     color:var(--orange);
}

#menu-bar{
     color: #fff;
     border: 1rem solid #fff;
     border-radius: .5rem;
     font-size: 3rem;
     padding:5rem 1.2rem;
     cursor: pointer;
     display: none;
}
@media (max-width:1200px){
     html{
     font-size: 55%;
}}

@media (max-width:991px){
header{
     padding: 2rem;
}
section{
     padding: 2rem;
}
}
@media (max-width:768px){
     #menu-bar{
          display: initial;
     }
     header .navbar{
          position: absolute;
          top: 100%;right:0;left:0;
          background:#333 ;
          border-top: .1rem solid rgba(255,255,255,.2);
          padding: 1rem 2rem;
          clip-path: polygon(0 0,100% 0,100% 0,0 0);
     }
     header .navbar.active{
          clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
     }

     header .navbar a{
          display: block;
          margin: 1.5rem 0;
          border-radius: .5rem;
          padding:1.5rem;
          background: #222;

     }
}
@media (max-width:450px){
     html{
     font-size: 50%;
}}


.welcome-message {
    position: fixed;
    top: 250px; 
    left: 180px;
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.welcome-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-message p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.hidden {
    display: none;
}

.error, .error1 {
    color: red;
    margin-top: 10px;
}

.confirm {
    color: green;
    display: none;
}
